<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BridgeHCM</title>

    <!-- framework -->
    <link rel="stylesheet" type="text/css" href="~/files/plugins/bootstrap/css/bootstrap.min.css">

    <!-- waves.css -->
    <link rel="stylesheet" href="~/files/default/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/files/default/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/files/default/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/files/default/icon/font-awesome/css/font-awesome.min.css">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="~/files/plugins/sweetalert/css/sweetalert.css">
    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="../files/default/pages/list-scroll/list.css">
    <link rel="stylesheet" type="text/css" href="../files/plugins/stroll/css/stroll.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="../files/default/icon/themify-icons/themify-icons.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="../files/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../files/default/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../files/plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <!-- Select 2 css -->
    @*
    <link rel="stylesheet" href="~/Files/plugins/ui-select/css/select2.min.css" />*@
    <link rel="stylesheet" href="~/Files/plugins/select2/css/select2.min.css" />
    <!-- Notification.css -->
    <link rel="stylesheet" type="text/css" href="../files/default/pages/notification/notification.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="../files/plugins/animate.css/css/animate.css">
    <!-- toastr css -->
    <link rel="stylesheet" type="text/css" href="~/Files/plugins/toastr/css/toastr.min.css" />
    <!-- animation -->
    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="../files/plugins/animate.css/css/animate.css">
    <!--forms-wizard css-->
    <link rel="stylesheet" type="text/css" href="../files/plugins/jquery.steps/css/jquery.steps.css">
    <!-- main style -->
    <link rel="stylesheet" type="text/css" href="~/files/default/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/files/default/css/jquery.mCustomScrollbar.css">
    <style>
        .has-error .select2-selection {
            border: 1px solid #a94442;
            border-radius: 4px;
        }

        .onoffswitch {
            position: relative;
            width: 40px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .onoffswitch-checkbox {
            display: none;
        }

        .onoffswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 2px solid #999999;
            border-radius: 32px;
        }

        .onoffswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

            .onoffswitch-inner:before, .onoffswitch-inner:after {
                display: block;
                float: left;
                width: 50%;
                height: 5px;
                padding: 0;
                line-height: 5px;
                font-size: 14px;
                color: white;
                font-family: Trebuchet, Arial, sans-serif;
                font-weight: bold;
                box-sizing: border-box;
            }

            .onoffswitch-inner:before {
                content: "";
                padding-left: 10px;
                background-color: #34A7C1;
                color: #FFFFFF;
            }

            .onoffswitch-inner:after {
                content: "";
                padding-right: 10px;
                background-color: #EEEEEE;
                color: #999999;
                text-align: right;
            }

        .onoffswitch-switch {
            display: block;
            width: 16px;
            margin: -5.5px;
            background: #FFFFFF;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 31px;
            border: 2px solid #999999;
            border-radius: 32px;
            transition: all 0.3s ease-in 0s;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
            right: 0px;
        }
    </style>
    @*<!-- pace -->
    <link rel="stylesheet" href="~/Files/plugins/pace/css/pace-theme-minimal.css" />
    <link rel="stylesheet" type="text/css" href="~/files/plugins/bootstrap/css/bootstrap.min.css">
    <environment include="Development">
        <!-- framework -->
        <link rel="stylesheet" type="text/css" href="~/files/plugins/bootstrap/css/bootstrap.min.css">

        <!-- waves.css -->
        <link rel="stylesheet" href="~/files/default/pages/waves/css/waves.min.css" type="text/css" media="all">
        <!-- themify-icons line icon -->
        <link rel="stylesheet" type="text/css" href="~/files/default/icon/themify-icons/themify-icons.css">
        <!-- ico font -->
        <link rel="stylesheet" type="text/css" href="~/files/default/icon/icofont/css/icofont.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="~/files/default/icon/font-awesome/css/font-awesome.min.css">
        <!-- sweet alert framework -->
        <link rel="stylesheet" type="text/css" href="~/files/plugins/sweetalert/css/sweetalert.css">
        <!-- Select 2 css -->
        <link rel="stylesheet" href="~/Files/plugins/ui-select/css/select2.min.css" />
        <!-- main style -->
        <link rel="stylesheet" type="text/css" href="~/files/default/css/style.css">
        <link rel="stylesheet" type="text/css" href="~/files/default/css/jquery.mCustomScrollbar.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-sanitize.min.js"></script>

</head>
<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="index.html">
                            <img class="img-fluid" src="../files/default/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <i class="ti-bell"></i>
                                    <span class="badge bg-c-red"></span>
                                </a>
                                <ul class="show-notification">
                                    <li>
                                        <h6>Notifications</h6>
                                        <label class="label label-danger">New</label>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="../files/default/images/avatar-2.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">John Doe</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="../files/default/images/avatar-4.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Joseph William</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <div class="media">
                                            <img class="d-flex align-self-center img-radius" src="../files/default/images/avatar-3.jpg" alt="Generic placeholder image">
                                            <div class="media-body">
                                                <h5 class="notification-user">Sara Soudein</h5>
                                                <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <span class="notification-time">30 minutes ago</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="#!" class="displayChatbox waves-effect waves-light">
                                    <i class="ti-comments"></i>
                                    <span class="badge bg-c-green"></span>
                                </a>
                            </li>
                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="../files/default/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                    <span>John Doe</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="~/master/employee_profile">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="#">
                                            <i class="ti-image"></i> My Files
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="#">
                                            <i class="ti-layout-list-thumb-alt"></i> History
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="~/authentication/logout">
                                            <i class="ti-unlock"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="../files/default/images/avatar-4.jpg" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>John Doe</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-15 p-b-0">
                                <form class="form-material">
                                    <div class="form-group form-primary">
                                        <input type="text" name="footer-email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Something...</label>
                                    </div>
                                </form>
                            </div>
                            <div class="pcoded-navigation-label">Navigation</div>
                            @await Component.InvokeAsync("MenuList")
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a asp-action="Change_Log" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-list"></i><b>CL</b></span>
                                        <span class="pcoded-mtext">Change Logs</span>
                                        <span class="pcoded-badge label label-warning">1.0</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="page-header-breadcrumb">
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="#!">
                                                        <i class="icofont icofont-home"></i>
                                                    </a>
                                                </li>
                                                @Html.Raw(ViewBag.MenuView)
                                                <li class="breadcrumb-item">
                                                    <a href="#">@ViewBag.Title</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <div class="btn-group pull-right">
                                                <div class="ui-group-buttons">
                                                    @Html.Raw(ViewBag.TopMenu)
                                                    <button type="button" class="btn btn-warning btn-sm"><span class="icofont icofont-question"></span> Help</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->

                        <div class="pcoded-inner-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="breadcrumb-step breadcrumb-body pull-right">
                                        @Html.Raw(ViewBag.ApprovalSequence)
                                        @*<a href="#" class="active">test</a>
                                        <a href="#">test</a>
                                        <a href="#">test</a>*@
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="module" value="@ViewBag.module" />
                            <div class="main-body">

                                <div class="page-wrapper">

                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <input type="hidden" class="form-control trans" value="@ViewData["transaction_id"]" />
                                        @RenderBody()
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main-body end -->
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-unobtrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/files/plugins/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/files/plugins/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/files/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="~/files/default/pages/waves/js/waves.min.js"></script>

    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/files/plugins/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="~/files/plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- data-table js -->
    <script src="~/files/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/files/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/files/default/pages/data-table/js/jszip.min.js"></script>
    <script src="~/files/default/pages/data-table/js/pdfmake.min.js"></script>
    <script src="~/files/default/pages/data-table/js/vfs_fonts.js"></script>
    <script src="~/files/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/files/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/files/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/files/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/files/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- notification js -->
    <script type="text/javascript" src="../files/default/js/bootstrap-growl.min.js"></script>
    @*
    <script type="text/javascript" src="../files/default/pages/notification/notification.js"></script>*@
    <!--Forms - Wizard js-->
    <script src="../files/plugins/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="../files/plugins/jquery.steps/js/jquery.steps.js"></script>
    <script src="../files/plugins/jquery-validation/js/jquery.validate.js"></script>
    <!-- Validation js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script type="text/javascript" src="../files/default/pages/form-validation/validate.js"></script>
    <!-- toastr js -->
    <script type="text/javascript" src="~/Files/plugins/toastr/js/toastr.min.js"></script>
    <!-- Custom js -->
    @*
    <script src="../files/default/pages/forms-wizard-validation/form-wizard.js"></script>*@
    <script src="~/files/default/js/pcoded.min.js"></script>
    <script src="~/files/default/js/dark/vertical-layout.min.js"></script>
    <script src="~/Files/default/js/script.js"></script>
    @*<environment include="Development">
        <!-- Required Jquery -->
        <script type="text/javascript" src="~/files/plugins/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/files/plugins/jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/files/plugins/popper.js/js/popper.min.js"></script>
        <script type="text/javascript" src="~/files/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!-- waves js -->
        <script src="~/files/default/pages/waves/js/waves.min.js"></script>

        <!-- jquery slimscroll js -->
        <script type="text/javascript" src="~/files/plugins/jquery-slimscroll/js/jquery.slimscroll.js"></script>
        <!-- sweet alert js -->
        <script type="text/javascript" src="~/files/plugins/sweetalert/js/sweetalert.min.js"></script>
        <!-- Select 2 js -->

        <script src="~/Files/plugins/ui-select/js/select2.min.js"></script>
        <!-- data-table js -->
        <script src="~/files/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/files/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/files/default/pages/data-table/js/jszip.min.js"></script>
        <script src="~/files/default/pages/data-table/js/pdfmake.min.js"></script>
        <script src="~/files/default/pages/data-table/js/vfs_fonts.js"></script>
        <script src="~/files/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/files/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/files/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/files/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/files/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
        <!-- Custom js -->
        <script src="~/files/default/js/pcoded.min.js"></script>
        <script src="~/files/default/js/dark/vertical-layout.min.js"></script>
        <script src="~/Files/plugins/pace/js/pace.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    <script>
        $(document).ready(function () {
            $('.select').select2({ width: '100%' });
            $(".wizard-form").steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slideLeft"
            });
            
        });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
