@model BridgeHCM.Models.employee_profile_model
@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div ng-app="myApp" ng-controller="myCtrl">
        <form class="form-material" asp-antiforgery="true" id="frm_employee_profile" method="post">
            @{
                if (ViewBag.success == true)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            swal("Success!", "Credentials has been updated.", "success");
                        });
                    </script>
                }

            }
            <!--profile cover start-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="cover-profile">
                        <div class="profile-bg-img">
                            <img class="profile-bg-img img-fluid" src="../files/default/images/user-profile/bg-img1.jpg" alt="bg-img">
                            <div class="card-block user-info">
                                <div class="col-md-12">
                                    <div class="media-left">
                                        <a href="#" class="profile-image">
                                            <img class="user-img img-radius" src="@ViewBag.path" alt="user-img">
                                        </a>
                                    </div>
                                    <div class="media-body row">
                                        <div class="col-lg-12">
                                            <div class="user-title">
                                                <h2>@ViewBag.displayName</h2>
                                                <span class="text-white">@ViewBag.occupation</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--profile cover end-->
            <div class="row">
                <div class="col-lg-12">
                    <!-- tab header start -->
                    <div class="tab-header card">
                        <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#personal" role="tab">Personal Info</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#binfo" role="tab">HR Information</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#contacts" role="tab">Other Information</a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#review" role="tab">Login Credentials</a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- tab header end -->
                    <!-- tab content start -->
                    <div class="tab-content">
                        <!-- tab panel personal information start -->
                        <div class="tab-pane active" id="personal" role="tabpanel">
                            <!-- personal card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">About Me</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Salutation</label>
                                                    <input disabled class="form-control" asp-for="personal.salutation" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Display Name</label>
                                                    <input disabled class="form-control" asp-for="personal.display_name" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">First Name</label>
                                                    <input disabled class="form-control" asp-for="personal.first_name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Middle Name</label>
                                                    <input disabled class="form-control" asp-for="personal.middle_name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Last Name</label>
                                                    <input disabled class="form-control" asp-for="personal.last_name" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Nick Name</label>
                                                    <input disabled class="form-control" asp-for="personal.nick_name" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Religion</label>
                                                    <input disabled class="form-control" asp-for="personal.religion" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Gender</label>
                                                    <input disabled class="form-control" asp-for="personal.gender" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Nationality</label>
                                                    <input disabled class="form-control" asp-for="personal.nationality" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Birthday</label>
                                                    @{
                                                        var bday = Convert.ToDateTime(Model.personal.birthday).ToShortDateString();

                                                    }
                                                    <input disabled class="form-control" asp-for="@bday" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Birthplace</label>
                                                    <input disabled class="form-control" asp-for="personal.birth_place" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Civil Status</label>
                                                    <input disabled class="form-control" asp-for="personal.civil_status" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Height</label>
                                                    <input disabled class="form-control" asp-for="personal.height" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Weight</label>
                                                    <input disabled class="form-control" asp-for="personal.weight" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Blood Type</label>
                                                    <input disabled class="form-control" asp-for="personal.blood_type" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h5 class="card-header-text">Contact Me</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Mobile Number</label>
                                                    <input disabled class="form-control" asp-for="personal.phone_mobile" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Phone Number</label>
                                                    <input disabled class="form-control" asp-for="personal.phone_telephone" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Office Number</label>
                                                    <input disabled class="form-control" asp-for="personal.phone_office" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Fax Number</label>
                                                    <input disabled class="form-control" asp-for="personal.phone_fax" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Email</label>
                                                    <input disabled class="form-control" asp-for="personal.email_address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Present Address</label>
                                                    <input disabled class="form-control" asp-for="personal.present_address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Permanent Address</label>
                                                    <input disabled class="form-control" asp-for="personal.permanent_address" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- personal card end-->
                            <!-- relatives card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Relatives</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="table-responsive dt-responsive">
                                            <table style="width:100%;" class="table nowrap table-list">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Relationship</th>
                                                        <th>Birthday</th>
                                                        <th>Sex</th>
                                                        <th>Occupation</th>
                                                        <th>Company</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.relative)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(x => item.name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.relationship)
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var rBday = Convert.ToDateTime(item.birthday).ToShortDateString();
                                                                }
                                                                @rBday
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.gender)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.occupation)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.company)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- relatives card end-->
                            <!-- eduction card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">College Degree Earned</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <table style="width:100%;" class="table nowrap table-list">
                                            <thead>
                                                <tr>
                                                    <th>School (Name/Town/Province)</th>
                                                    <th>Course</th>
                                                    <th>Major In</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.degree)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(x => item.name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => item.course)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => item.major)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h5 class="card-header-text">Educational Attainment</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <table style="width:100%;" class="table nowrap table-list">
                                            <thead>
                                                <tr>
                                                    <th>School (Name/Town/Province)</th>
                                                    <th>Type</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Honors/Awards/Citations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.education)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(x => item.name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => item.type)
                                                        </td>
                                                        <td>
                                                            @{
                                                                var eFrom = Convert.ToDateTime(item.date_from).ToShortDateString();
                                                            }
                                                            @eFrom
                                                        </td>
                                                        <td>
                                                            @{
                                                                var eTo = Convert.ToDateTime(item.date_to).ToShortDateString();
                                                            }
                                                            @eTo
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(x => item.awards)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- eduction card end-->
                            <!-- emergency card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Incase of emergency</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="table-responsive dt-responsive">
                                            <table style="width:100%;" class="table nowrap table-list">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Relationship</th>
                                                        <th>Address</th>
                                                        <th>Contact Number</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.emergency)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(x => item.name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.relationship)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.address)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.contact_number)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- emergency card end-->
                        </div>
                        <!-- tab pane personal end -->
                        <!-- tab pane hr information start -->
                        <div class="tab-pane" id="binfo" role="tabpanel">
                            <!-- info card start -->
                            <!-- payroll info card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Payroll Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Payroll Type</label>
                                                    <input disabled class="form-control" asp-for="information.payroll_type_desc" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Biometrics Id</label>
                                                    <input disabled class="form-control" asp-for="information.biometrics_id" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Employee Code</label>
                                                    <input disabled class="form-control" asp-for="personal.employee_code" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Basic Salary</label>
                                                    @{
                                                        var sDisplayValue = String.Format("{0:#,##0.00}", Model.information.basic_rate);
                                                    }
                                                    <input disabled class="form-control" asp-for="@sDisplayValue" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Employee Status</label>
                                                    <input disabled class="form-control" asp-for="information.employee_status" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Occupation</label>
                                                    <input disabled class="form-control" asp-for="information.occupation" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Bank</label>
                                                    <input disabled class="form-control" asp-for="information.bank" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Bank Account</label>
                                                    <input disabled class="form-control" asp-for="information.bankaccount" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Department</label>
                                                    <input disabled class="form-control" asp-for="information.department" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Date Hired</label>
                                                    @{
                                                        var hired = Convert.ToDateTime(Model.information.date_hired).ToShortDateString();

                                                    }
                                                    <input type="text" disabled class="form-control" asp-for="@hired" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Division</label>
                                                    <input type="text" disabled class="form-control" asp-for="information.division" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Section</label>
                                                    <input type="text" disabled class="form-control" asp-for="information.section" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Confidentiality</label>
                                                    <input type="text" disabled class="form-control" asp-for="information.confidentiality_desc" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <div class="card-header">
                                    <h5 class="card-header-text">Government Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="row">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">SSS #</label>
                                                    <input disabled class="form-control" asp-for="information.sss" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Pag-ibig #</label>
                                                    <input disabled class="form-control" asp-for="information.pagibig" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">Phil Health #</label>
                                                    <input disabled class="form-control" asp-for="information.philhealth" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">TIN #</label>
                                                    <input disabled class="form-control" asp-for="information.tin" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-group-sm">
                                                    <label class="control-label">NBI #</label>
                                                    <input disabled class="form-control" asp-for="information.nbi" type="text">
                                                </div>
                                            </div>

                                        </div>
                                        <!-- end of row -->
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- payroll info card end-->
                            <!-- employement card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Employment History</h5>
                                </div>
                                <div class="card-block">
                                    <div class="view-info">
                                        <div class="table-responsive dt-responsive">
                                            <table style="width:100%;" class="table nowrap table-list">
                                                <thead>
                                                    <tr>
                                                        <th>Company</th>
                                                        <th>Position</th>
                                                        <th>Salary</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Reason For Leaving</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.employment)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(x => item.company)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.position)
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var salary = String.Format("{0:#,##0.00}", item.salary);
                                                                }
                                                                @salary
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var emFrom = Convert.ToDateTime(item.date_from).ToShortDateString();

                                                                }
                                                                @emFrom
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var emTo = Convert.ToDateTime(item.date_to).ToShortDateString();

                                                                }
                                                                @emTo
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(x => item.reason)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- employement card end-->
                            <!-- info card end -->
                        </div>
                        <!-- tab pane info end -->
                        <!-- tab pane other start -->
                        <div class="tab-pane" id="contacts" role="tabpanel">
                            <!-- movement card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Employee Movement</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- movement card end -->
                            <!-- memorandum card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Memo</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- memorandum card end -->
                            <!-- hmo card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">HMO</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- hmo card end -->
                            <!-- medical card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Medical Records</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- medical card end -->
                            <!-- training/seminars card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Training & Seminars</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- training/seminars card end -->
                            <!-- memorandum card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Assets</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <!-- memorandum card end -->
                        </div>
                        <!-- tab pane other end -->
                        <!-- tab pane login start -->
                        <div class="tab-pane" id="review" role="tabpanel">
                            <!-- branch card start -->
                            <div class="card">

                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card-header">
                                                <h5 class="card-header-text">Password Recovery Question</h5>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Question 1</label>
                                                @*<select name="singleSelect" class="form-control dropdownlevel select">
                                                    <option value="" selected="selected">Select Nationality</option>
                                                </select>*@
                                                <select asp-for="personal.question1"
                                                        asp-items="@(new SelectList(Model.question,"setting_id_ds","description"))" class="form-control select">
                                                    <option>-- Select Question 1 --</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Answer 1</label>
                                                <input type="text" class="form-control" asp-for="personal.answer1" />
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Question 2</label>
                                                @*<select name="singleSelect" class="form-control dropdownlevel select">
                                                    <option value="" selected="selected">Select Nationality</option>
                                                </select>*@
                                                <select asp-for="personal.question2"
                                                        asp-items="@(new SelectList(Model.question,"setting_id_ds","description"))" class="form-control select">
                                                    <option>-- Select Question 1 --</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Answer 2</label>
                                                <input type="text" class="form-control" asp-for="personal.answer2" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="table-responsive dt-responsive">
                                                <table style="width:100%;" class="table nowrap table-list">
                                                    <thead>
                                                        <tr>
                                                            <th>Branch</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(x => Model.information.warehouse_desc)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- info card end -->
                            <!-- login card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-header-text">Login Information</h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Username</label>
                                                <input class="form-control" type="text" asp-for="personal.username">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-sm">
                                                <label class="control-label">Password</label>
                                                @{
                                                    var pass = Crypto.password_decrypt(Model.personal.userhash);

                                                }
                                                <input class="form-control" type="password" value="@pass" asp-for="personal.userhash">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class='btn btn-out-dashed waves-effect waves-light btn-inverse btn-square pull-right' type='button' ng-click="submit()">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of card-block -->
                            </div>
                            <!-- login card end -->
                        </div>
                        <!-- tab pane login end -->
                    </div>
                    <!-- tab content end -->
                </div>
            </div>
        </form>
    </div>
@section Scripts {
    <script src="~/scripts/master/employee_profile.js"></script>
}