@model IEnumerable<wcf_Master.menu_view_restriction_lib>
    <ul class="pcoded-item pcoded-left-item">
        @{
            foreach (var module in Model.Where(m => m.module_type == true))
            {
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="@module.class_"></i><b>D</b></span>
                    <span class="pcoded-mtext">@module.module_name</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                @foreach (var md in Model.Where(m => m.module_type == false))
                {
                    if(@md.parent_module_id == @module.module_id)
                    {
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="@Url.Action("coming_soon", "authentication")" class="waves-effect waves-dark">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">@md.module_name</span>
                                <span class="pcoded-mcaret"></span>
                            </a>
                    </li>
                </ul>
                    }
                }
            </li>
            }
        }
    </ul>



